name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  xcode-build:
    name: Xcode Build
    runs-on: macOS-10.15
    strategy:
      matrix:
        platform: ['iOS_14', 'iOS_13']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Select Xcode Version (12.2)
        run: sudo xcode-select --switch /Applications/Xcode_12.2.app/Contents/Developer
        if: matrix.platform == 'iOS_14'
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Build and Test
        run: Scripts/build.swift xcode ${{ matrix.platform }} `which xcpretty`
      - name: Upload Results
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: Test Results
          path: .build/derivedData/**/Logs/Test/*.xcresult
  pod-lint:
    name: Pod Lint
    runs-on: macOS-10.15
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Lint Podspec
        run: bundle exec --gemfile=Example/Gemfile pod lib lint --verbose --fail-fast
  spm:
    name: SPM Build
    runs-on: macOS-10.15
    strategy:
      matrix:
        platform: ['iOS_14']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_12.2.app/Contents/Developer
      - name: Build
        run: Scripts/build.swift spm ${{ matrix.platform }}
