name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  xcode-build:
    name: Xcode Build (${{ matrix.platform }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - platform: iOS_17
            runner: macOS-14
          - platform: iOS_18
            runner: macOS-15
          - platform: iOS_26
            runner: macOS-15
            xcode-version: '26.0.1'
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: ruby/setup-ruby@a4effe49ee8ee5b8b5091268c473a4628afb5651 # ratchet:ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
      - name: Select Xcode Version
        if: matrix.xcode-version
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode-version }}.app
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Build and Test
        run: Scripts/build.swift xcode ${{ matrix.platform }} `which xcpretty`
      - name: Upload Results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        if: failure()
        with:
          name: Test Results (${{ matrix.platform }})
          path: .build/derivedData/**/Logs/Test/*.xcresult

  pod-lint:
    name: Pod Lint
    runs-on: macOS-14
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: ruby/setup-ruby@a4effe49ee8ee5b8b5091268c473a4628afb5651 # ratchet:ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Lint Podspec
        run: bundle exec --gemfile=Example/Gemfile pod lib lint --verbose --fail-fast

  spm:
    name: SPM Build
    runs-on: macOS-14
    strategy:
      matrix:
        platform: ['iOS_17']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Build
        run: Scripts/build.swift spm ${{ matrix.platform }}

  carthage:
    name: Carthage Build
    runs-on: macOS-14
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - name: Build
        run: carthage build --no-skip-current --platform iOS --use-xcframeworks --verbose

  validate-strings:
    name: Validate Localized Strings
    runs-on: macOS-14
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - name: Validate Localized Strings
        run: Scripts/ValidateLocalizedStrings.swift
