name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  xcode-build:
    name: Xcode Build
    runs-on: macOS-13
    strategy:
      matrix:
        platform: ['iOS_17', 'iOS_16']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Build and Test
        run: Scripts/build.swift xcode ${{ matrix.platform }} `which xcpretty`
      - name: Upload Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Test Results (${{ matrix.platform }})
          path: .build/derivedData/**/Logs/Test/*.xcresult
  xcode-build-legacy:
    name: Xcode Build
    runs-on: macOS-11
    strategy:
      matrix:
        platform: ['iOS_14', 'iOS_13']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Build and Test
        run: Scripts/build.swift xcode ${{ matrix.platform }} `which xcpretty`
      - name: Upload Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Test Results (${{ matrix.platform }})
          path: .build/derivedData/**/Logs/Test/*.xcresult
  pod-lint:
    name: Pod Lint
    runs-on: macOS-11
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
      - name: Bundle Install
        run: bundle install --gemfile=Example/Gemfile
      - name: Pod Install
        run: bundle exec --gemfile=Example/Gemfile pod install --project-directory=Example
      - name: Lint Podspec
        run: bundle exec --gemfile=Example/Gemfile pod lib lint --verbose --fail-fast
  spm:
    name: SPM Build
    runs-on: macOS-11
    strategy:
      matrix:
        platform: ['iOS_14']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Build
        run: Scripts/build.swift spm ${{ matrix.platform }}
  carthage:
    name: Carthage Build
    runs-on: macOS-13
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Build
        run: carthage build --no-skip-current --platform iOS --use-xcframeworks --verbose
  bazel:
    name: Bazel Build
    runs-on: macOS-13
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Build
        run: bazel build //...
  validate-strings:
    name: Validate Localized Strings
    runs-on: macOS-13
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Validate Localized Strings
        run: Scripts/ValidateLocalizedStrings.swift
